@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
	@include flex-aligned(center, center);

	flex: 1;
	flex-direction: column;
}

.buttonsContainer {
	@include flex-aligned(center, center);
	@include padded(all, xl);

	flex: 1;
	flex-wrap: wrap;

	a {
		text-decoration: none;
	}
}
