@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    height: 10px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99999;
}

.refreshHoverContainer {
    @include bg-rgba-colored($color-blue, 0.3);
    @include font-colored($color-white);
    @include flex-aligned(center, flex-end);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 20px;
    left: 50%;
    min-width: 120px;
    position: absolute;
    top: 80px;
    transform: translateX(-50%);
    transition: top 0.1s ease-in;
    width: 10vw;

    &:hover {
        border-radius: 0;
    }

    &:hover .refreshButton {
        height: 60px;
        max-height: 300px;
        transition: max-height 0.1s ease-in;
        top: 20px;
    }

    &:hover .refreshIcon {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    &:hover .arrowIcon {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .refreshButton {
        @include bg-rgba-colored($color-blue, 0.3);
        @include flex-aligned(center, center);

        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
        max-height: 0px;
        overflow: hidden;
        position: absolute;
        transition: max-height 0.1s ease-in;
        transition: background-color 0.1s ease-in;
        top: 20px;
        width: 100%;

        &:hover {
            @include bg-rgba-colored($color-blue, 0.4);
            transition: background-color 0.1s ease-in;
        }
    }
}

.refreshIcon {
    @include font-colored($color-grey2);
    transition: transform 2s ease-in-out;
}

.arrowIcon {
    @include font-colored($color-grey2);
    @include font-sized(xxs);
    transition: transform 0.4s ease-in-out;
}
