@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include bg-rgba-colored($color-navy, 0.8);
    @include font-colored($color-grey1);

    display: flex;
    transition: 0.6s;

    &Mobile {
        width: 100vw;
    }

    &Mobile {
        width: 100vw;
    }

    .column {
        @include flex-aligned(flex-start, center);
        @include marged(left, xxs);
        @include marged(right, xxs);
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;

        &Bullseye {
            @extend .column;
            @include bg-rgba-colored($color-mint, 0.1);
        }

        &Half {
            @extend .column;
            @include bg-rgba-colored($color-blue, 0.1);
        }

        &Zero {
            @extend .column;
            @include bg-rgba-colored($color-black, 0.3);
        }

        div,
        p {
            @include aligned(left);
            @include padded(all, s);
            width: 100%;
        }

        .header {
            @include bg-rgba-colored($color-black, 0.2);
            @include flex-aligned(center, center);
            font-weight: bold;

            &Bullseye {
                @extend .header;
                @include font-colored($color-mint);
            }

            &Half {
                @extend .header;
                @include font-colored($color-blue);
            }

            &Zero {
                @extend .header;
                @include font-colored($color-red);
            }
        }

        .betLine {
            @include marged(all, none);
            @include font-sized(m);

            display: flex;
            min-height: 36px;

            .iconClass {
                flex: 1;
                height: inherit !important;
                width: auto !important;
            }
            .userName {
                @include flex-aligned(flex-start, center);
                display: block;
                flex: 3;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &Highlight {
                font-weight: bold;
                border: 1px solid white;
            }
        }

        .betLine:nth-child(odd) {
            @include bg-rgba-colored($color-black, 0.1);
        }
    }
}
