@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(flex-start, center);
    @include font-colored($color-grey2);
    @include padded(all, l);

    display: flex;
    height: 100%;
    flex-direction: column;
    transition: 0.4s;

    & div {
        @include padded(top, xs);
        @include padded(bottom, xs);
    }

    .icon {
        @include marged(right, s);
    }
}
.buttonContainer {
    @include flex-aligned(center, center);
    display: flex;
    width: 100%;
}

.accountOption {
    flex: 1;
}

.accountOption {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

    &Open {
        flex: 1;
        max-height: 1000px;
        transition: max-height 1s ease-in-out;
    }
}
