@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include padded(all, xl);
    @include flex-aligned(center, flex-start);

    flex: 1;
    position: relative;

    .fixed {
        @include bg-rgba-colored($color-navy, 0.8);
        @include padded(top, m);
        @include padded(bottom, m);
        @include marged(bottom, m);

        display: flex;
        flex-direction: column;
        height: calc(80vh);
        overflow-y: none;
        position: fixed;
        width: 33%;
    }
}

.containerFullMobile {
    @include bg-rgba-colored($color-navy, 0.8);

    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.containerFull {
    @include bg-rgba-colored($color-navy, 0.8);
    @include padded(left, xl);
    @include padded(right, xl);

    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    width: 90%;
}

.title {
    @include font-sized(l);
    @include font-colored($color-grey1);
    @include padded(all, none);
    @include marged(all, none);

    display: flex;
    flex: 0;

    .button {
        @include marged(all, m);
        @include font-sized(m);
        @include font-colored($color-grey3);

        border: 1px solid $color-grey5;
        font-weight: bold;
        flex: 1;
        transition: 0.4s;

        &Active {
            @extend .button;
            @include font-colored($color-gold);
        }

        &:hover {
            @include bg-rgba-colored($color-navy, 0.9);
            @include font-colored($color-grey1);

            border: 1px solid $color-grey4;
        }
    }
}

.lineContainer {
    @include marged(top, m);
    @include font-colored($color-grey3);

    flex: 1 1 1px;
    overflow-y: auto;
    position: relative;

    scrollbar-color: $color-grey3 $color-grey5;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-grey5;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-grey3;
        border-radius: 5px;
    }
}

.header {
    @include flex-aligned(flex-start, center);
    @include font-colored($color-grey3);
    font-weight: bold;

    min-height: 36px;
    transition: 0.2s;

    div {
        @include padded(left, s);
    }

    span {
        text-decoration: underline;
    }
}

.rankingLine {
    @include flex-aligned(flex-start, center);
    @include padded(left, s);

    -webkit-box-shadow: -5px 0px 0px 0px $color-mint;
    box-shadow: -5px 0px 0px 0px $color-mint;

    display: flex;
    min-height: 36px;
    transition: 0.2s;

    div,
    span {
        @include padded(left, s);
    }

    &:hover {
        @include font-colored($color-grey1);
        @include bg-rgba-colored($color-black, 0.1);
    }

    &Loading {
        opacity: 0.2;
    }
}

.positionChange {
    @include aligned(left);
    @include font-sized(s);

    position: absolute;
    margin-left: -12px;
    width: 100%;

    span {
        @include padded(all, none);
    }
}

.positionIcon {
    @include padded(all, none);

    &Up {
        @include font-colored($color-green);
    }

    &Down {
        @include font-colored($color-red);
    }
}

.icon {
    @include aligned(left);
    flex: 1;
}

.position {
    @include aligned(left);

    padding-left: 16px !important;
    flex: 1;
}

.points {
    @include aligned(center);
    flex: 1;
}

.name {
    @include aligned(left);

    flex: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.badge {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &Online {
        @extend .badge;
        background-color: $color-mint;
        color: $color-mint;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            animation: ripple 2s infinite ease-in-out;
            border: 1px solid;
            content: "";
        }
    }

    &Offline {
        @extend .badge;

        background-color: $color-grey3;
        color: $color-red;
        opacity: 0.2;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(2.4);
        opacity: 0;
    }
}
