@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include padded(all, xl);
    @include flex-aligned(center, flex-start);

    flex: 1;
    position: relative;

    .fixed {
        @include bg-rgba-colored($color-grey1, 0.1);
        @include padded(all, m);
        @include marged(bottom, m);

        display: flex;
        flex-direction: column;
        height: calc(80vh);
        overflow-y: none;
        position: fixed;
        width: 33%;
    }
}

.containerFull {
    @include bg-rgba-colored($color-grey1, 0.1);

    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.title {
    @include font-sized(l);
    @include font-colored($color-grey1);
    @include padded(all, none);
    @include marged(all, none);

    display: flex;
    flex: 0;

    .button {
        @include marged(all, m);
        @include font-sized(m);
        @include font-colored($color-grey3);

        font-weight: bold;
        flex: 1;
        transition: 0.4s;

        &Active {
            @extend .button;
            @include font-colored($color-gold);
        }

        &:hover {
            @include font-colored($color-grey1);
        }
    }
}

.lineContainer {
    @include marged(top, m);
    @include font-colored($color-grey3);

    flex: 1;
    overflow-y: hidden;
    position: relative;
}

.header {
    @include flex-aligned(flex-start, center);
    @include font-colored($color-grey2);
    font-weight: bold;

    min-height: 36px;
    transition: 0.2s;

    div {
        @include padded(left, s);
    }

    span {
        text-decoration: underline;
    }
}

.rankingLine {
    @include flex-aligned(flex-start, center);

    -webkit-box-shadow: -5px 0px 0px 0px $color-mint;
    box-shadow: -5px 0px 0px 0px $color-mint;

    display: flex;
    min-height: 36px;
    transition: 0.2s;

    div,
    span {
        @include padded(left, s);
    }

    &:hover {
        @include font-colored($color-grey1);
        @include bg-rgba-colored($color-black, 0.1);
    }
}

.icon,
.position,
.points {
    @include aligned(left);
    flex: 1;
}

.name {
    @include aligned(left);
    flex: 2;
}

.badge {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    &Online {
        @extend .badge;
        background-color: $color-mint;
        color: $color-mint;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            animation: ripple 2s infinite ease-in-out;
            border: 1px solid;
            content: "";
        }
    }

    &Offline {
        @extend .badge;

        background-color: $color-grey3;
        color: $color-red;
        opacity: 0.2;
    }
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(2.4);
        opacity: 0;
    }
}
