@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(center, center);
    @include font-colored($color-grey3);
    
    flex-direction: column;
    width: 100%;
    
    .weekTitle {
        @include padded(top, l);
        @include marged(bottom, xs);
    }
}

.paginationContainer {
    @include flex-aligned(center, center);
    @include font-sized(m);

    width: 100%;

    a {
        text-decoration: none;
    }

    &Standard {
        @extend .paginationContainer;

        @include padded(all, xl);
    }

    &Mobile {
        @extend .paginationContainer;

        @include padded(top, none);
        @include padded(right, none);
        @include padded(bottom, l);
        @include padded(left, none);
    }
}

.neighbourPages {
    @include flex-aligned(flex-start, flex-start);
    width: 100%;

    &Mobile {
        @extend .neighbourPages;
        flex: 2;
    }

    &Standard {
        @extend .neighbourPages;
        flex: 4;
    }
}

.ghostPage {
    flex: 1;

    &Standard {
        @extend .ghostPage;

        @include padded(all, m);
        @include marged(left, l);
        @include marged(right, l);
    }

    &Mobile {
        @extend .ghostPage;

        @include padded(all, xs);
        @include marged(left, xs);
        @include marged(right, xs);
    }
}

.page {
    @include bg-rgba-colored($color-navy, 0.8);
    @include font-colored($color-grey3);
    @include padded(all, xs);

    border-radius: 4px;
    flex: 1;
    transition: 0.4s;

    &:hover {
        @include shadowed(0.2);
        @include font-colored($color-grey2);
    }

    &Standard {
        @extend .page;
        @include padded(all, m);
        @include marged(left, l);
        @include marged(right, l);
    }

    &Mobile {
        @extend .page;
        @include marged(left, xs);
        @include marged(right, xs);
    }
}

.currentPage {
    @extend .pageStandard;
    @include font-colored($color-gold);

    font-weight: bold;
    flex: 1;
}
