@import "styles/variables.scss";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 { 
    font-size: 36px;
    font-variant: small-caps;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.align-center {
    justify-content: center;
    text-align: center;
}

.align-right {
    justify-content: flex-end;
    text-align: right;
}

.align-left {
    justify-content: flex-start;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.small-caps {
    font-variant: small-caps;
}
