@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(center, center);

    flex: 1;
    flex-direction: column;
    width: 100%;

    &Standard {
        @extend .container;
        @include padded(all, xl);
    }
    &Mobile {
        @extend .container;
        @include padded(all, none);
    }
}

.buttonsContainer {
    flex: 0;

    .button {
        @include bg-rgba-colored($color-grey1, 0.1);
        @include font-colored($color-grey3);
        @include font-sized(l);
        @include marged(all, m);
        @include padded(left, xl);
        @include padded(right, xl);

        font-weight: bold;
        flex: 1;
        transition: 0.4s;

        &Active {
            @extend .button;
            @include font-colored($color-gold);
        }

        &:hover {
            @include bg-rgba-colored($color-grey1, 0.1);
            @include font-colored($color-grey1);
        }
    }
}

.divisionsContainer {
    @include flex-aligned(center, flex-start);

    flex-direction: row;
    flex: 1;
    width: 100%;

    &Mobile {
        flex-direction: column;
    }
}

.division {
    @include marged(all, m);
    @include font-sized(l);
    @include font-colored($color-grey1);
    min-width: 0px;

    transition: 0.8s;

    &AndBets {
        @extend .division;

        min-width: 200px;
    }

    .button {
        @include bg-rgba-colored($color-grey1, 0.1);
        @include font-colored($color-grey3);
        @include font-sized(m);
        @include marged(all, m);
        @include padded(left, xl);
        @include padded(right, xl);

        font-weight: bold;
        flex: 1;
        transition: 0.4s;

        &Active {
            @extend .button;
            @include font-colored($color-gold);
        }

        &:hover {
            @include bg-rgba-colored($color-grey1, 0.1);
            @include font-colored($color-grey1);
        }
    }
}

// .bets {
//     background-color: white;
//     @include marged(all, m);
//     @include font-sized(l);
//     @include font-colored($color-grey1);

//     flex: 3;
//     transition: 0.4s;
// }


.rotated {
    transform: rotate(90deg);
}
