@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.accountOption {
    overflow: hidden;
    flex: 0;
    max-height: 0;
    transition: 0.5s;
    visibility: hidden;
    
    &Open {
        @extend .accountOption;
        
        flex: 1;
        max-height: 100%;
        visibility: visible;
    }
}

