@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(center, center);
    @include marged(bottom, xl);

    display: flex;
    min-height: $matchContainerHeight;
    opacity: 0.8;
    transition: 0.4s;
    max-width: 1000px;
    width: 100%;

    &Standard {
        @extend .container;
        flex-direction: row;
    }

    &Mobile {
        @extend .container;
        flex-direction: column;
    }

    &:hover {
        opacity: 1;
    }

    &Expanded {
        @extend .container;

        flex-direction: column;
        min-height: calc(#{$matchContainerHeight} * 2);
        opacity: 1;
    }

    .teamsContainer {
        display: flex;
        flex-direction: row;
        flex: 2;
        width: 100%;
    }
}

.betContainer {
    @include bg-rgba-colored($color-grey5, 0.3);
    @include flex-aligned(center, center);
    @include font-colored($color-grey3);

    flex: 2;
    flex-direction: row; 
    min-height: $matchContainerHeight; 
    width: 100%; 

    .betButton {
        @include flex-aligned(center, center);
        @include font-sized(l);
        background: url("http://omegafox.me/img/match_layer.png");

        cursor: pointer;
        flex: 1;
        height: 100%;
        transition: 0.4s;

        span {
            animation: scaleUp 0.4s ease-in-out;
        }

        &:hover {
            @include bg-rgba-colored($color-grey1, 0.1);
            @include font-colored($color-grey1);
        }

        &Correct {
            @extend .betButton;
            @include bg-rgba-colored($color-grey1, 0.1);
        }

        &Disabled {
            @extend .betButton;
            cursor: default;
        }
    }
}

.betDescription {
    @include flex-aligned(center, center);
    @include font-sized(s);
    flex: 1;
}

.atDivisor {
    @include padded(left, s);
    @include padded(right, s);
    @include font-colored($color-grey1);

    background: url("http://omegafox.me/img/match_layer.png");
    line-height: $matchContainerHeight;
}

.greenBorder {
    -webkit-box-shadow: 0 -2px 0px 0px $color-mint;
    box-shadow: 0 -2px 0px 0px $color-mint;
}
.blueBorder {
    -webkit-box-shadow: 0 -2px 0px 0px $color-blue;
    box-shadow: 0 -2px 0px 0px $color-blue;
}
.redBorder {
    -webkit-box-shadow: 0 -2px 0px 0px $color-red;
    box-shadow: 0 -2px 0px 0px $color-red;
}

@keyframes scaleUp {
    0% {
        @include font-colored($color-grey3);
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
