@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(center, center);
    @include marged(bottom, xl);

    flex-direction: column;
    max-width: 1000px;
    width: 100%;
}

.matchContainer {
    @include flex-aligned(center, center);

    cursor: pointer;
    display: flex;
    flex-direction: row;
    min-height: $matchContainerHeight;
    opacity: 0.8;
    position: relative;
    transition: 0.4s;
    max-width: 1000px;
    width: 100%;

    &Mobile {
        @extend .matchContainer;

        flex-direction: column;
        width: 100%;
    }

    &:hover {
        opacity: 1;
    }

    &Expanded {
        @include shadowed(0.5);
        @extend .matchContainer;

        flex-direction: column;
        min-height: calc(#{$matchContainerHeight} * 2);
        opacity: 1;
    }
}

.collapsibleIcon {
    left: 2px;
    position: absolute;
    top: 20px;
    z-index: 9999;
}

.teamsContainer {
    display: flex;
    flex-direction: row;
    flex: 2;
    width: 100%;

    &Loading {
        opacity: 0.3;
    }
}

.time {
    @include flex-aligned(flex-start, center);
    @include bg-colored($color-grey2);
    @include font-colored($color-grey5);
    @include font-sized(m2);

    flex: 1;
    width: 100%;
    z-index: 10;

    &Mobile {
        @extend .time;

        flex: none;
        height: $matchContainerHeight;
        width: 100%;
    }

    &Loading {
        opacity: 0.3;
    }

    .notStarted {
        @include flex-aligned(center, center);

        height: $matchContainerHeight;
        flex: 1;
    }

    .ended {
        @include flex-aligned(center, center);

        height: $matchContainerHeight;
        flex: 1;
    }

    .started {
        @include flex-aligned(center, center);

        height: $matchContainerHeight;
        flex: 1;
        flex-direction: row;

        .quarter {
            @include bg-colored($color-grey3);
            @include flex-aligned(center, center);
            @include font-colored($color-grey1);

            height: $matchContainerHeight;
            flex: 1;
        }

        .timeLeft {
            @include flex-aligned(center, center);

            height: $matchContainerHeight;
            flex: 1;
        }
    }
}

.betsContainer {
    transition: 0.4s;
    flex: 1;
    max-height: 1000px;
    width: 100%;

    &Hidden {
        flex: 0;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
        visibility: hidden;
    }
}

.greenBorder {
    -webkit-box-shadow: 0 -2px 0px 0px $color-mint;
    box-shadow: 0 -2px 0px 0px $color-mint;

    &:hover {
        -webkit-box-shadow: 0 -4px 0px 0px $color-mint;
        box-shadow: 0 -4px 0px 0px $color-mint;
    }
}
.blueBorder {
    -webkit-box-shadow: 0 -2px 0px 0px $color-blue;
    box-shadow: 0 -2px 0px 0px $color-blue;

    &:hover {
        -webkit-box-shadow: 0 -4px 0px 0px $color-blue;
        box-shadow: 0 -4px 0px 0px $color-blue;
    }
}
.redBorder {
    -webkit-box-shadow: 0 -2px 0px 0px $color-red;
    box-shadow: 0 -2px 0px 0px $color-red;

    &:hover {
        -webkit-box-shadow: 0 -4px 0px 0px $color-red;
        box-shadow: 0 -4px 0px 0px $color-red;
    }
}
