@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.teamContainer {
    @include flex-aligned(flex-start, center);
    @include padded(left, m);
    @include padded(right, m);
    @include marged(top, m);
    @include marged(bottom, m);

    border-radius: 4px;
    box-sizing: border-box;
    min-height: calc(#{$matchContainerHeight} * 2);
    max-height: calc(#{$matchContainerHeight} * 3);
    max-width: 800px;

    &Wildcard {
        // @extend .teamContainer;
        -webkit-box-shadow: 0px 0px 0px 1px $color-grey3;
        box-shadow: 0px 0px 0px 1px $color-grey3;
    }
    &Winner {
        // @extend .teamContainer;
        -webkit-box-shadow: 0px 0px 0px 1px $color-gold;
        box-shadow: 0px 0px 0px 1px $color-gold;
    }

    .bets {
        @include flex-aligned(center, center);
        flex: 1;
    }
}

.translucid {
    transition: 0.4s;
    opacity: 0.5;

    &:hover {
        opacity: 0.7;
    }
}

.bright {
    opacity: 0.9;
}

.extraBets {
    @include aligned(left);

    display: -webkit-box;
    flex: 1;
    min-height: 60px;
    max-height: 180px;
    transition: 0.6s;
    line-height: 28px;
    max-width: 1000px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    transition: 0.4s;

    &None {
        @extend .extraBets;
        @include padded(all, none);

        visibility: hidden;
        max-height: 0;
        max-width: 0;
        transition: 0.4s;
    }

    .champions {
        @include bg-rgba-colored($color-navy, 0.8);

        min-height: 60px;
        position: relative;

        &Border {
            border: 1px solid $color-gold;
        }
    }
    .wildcards {
        @include bg-rgba-colored($color-navy, 0.8);
        border-bottom: 1px solid $color-grey1;
        border-left: 1px solid $color-grey1;
        border-right: 1px solid $color-grey1;

        position: relative;
        min-height: 60px;
    }

    .iconLeft {
        position: absolute;
        top: -15px;
        left: -15px;
        transform: rotate(-40deg);
    }
    .iconRight {
        position: absolute;
        bottom: -0;
        right: -15px;
    }
}

.icon {
    @include font-colored($color-grey1);
    @include marged(left, xs);
    @include marged(right, xs);
    @include padded(all, xs);

    border-radius: 4px;

    cursor: pointer;
    transition: 0.4s;

    &Small {
        @include marged(left, xs);
        @include marged(right, none);
        font-size: 14px !important;
    }

    &Disabled {
        @extend .icon;

        cursor: default;
        opacity: 0.2;
    }

    &:hover {
        @include bg-rgba-colored(white, 0.1);
    }
}
