@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(center, center);

    flex: 1;
    flex-direction: column;
    width: 100%;

    a {
        text-decoration: none;
    }
}

.content {
    @include flex-aligned(center, center);

    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}

.buttonsContainer {
    @include flex-aligned(center, center);
    @include padded(left, xl);
    @include padded(right, xl);

    flex: 1;
    flex-wrap: wrap;
    min-width: 90%;

    a {
        text-decoration: none;
    }
}
.table {
    @include bg-rgba-colored($color-grey1, 0.1);
    @include font-colored($color-grey3);

    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.tableStandard {
    @extend .table;

    @include padded(left, xl);
    @include padded(right, xl);
    width: 90%;
}

.tableMobile {
    @extend .table;
    width: 100%;
}

.tableHeader {
    @include flex-aligned(flex-start, center);
    @include marged(top, m);
    font-weight: bold;

    min-height: 36px;
    transition: 0.2s;

    div {
        @include padded(left, s);
    }

    span {
        text-decoration: underline;
    }
}

.lineContainer {
    @include marged(top, m);

    flex: 1;
    overflow-y: hidden;
    position: relative;
    flex: 1 1 1px;
    overflow-y: auto;

    scrollbar-color: $color-grey3 $color-grey5;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $color-grey5;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-grey3;
        border-radius: 5px;
    }
}

.recordLine {
    @include flex-aligned(flex-start, center);

    display: flex;
    min-height: 36px;
    transition: 0.2s;

    div,
    span {
        @include padded(left, s);
    }

    &:hover {
        @include font-colored($color-grey1);
        @include bg-rgba-colored($color-black, 0.1);
    }

    &Loading {
        opacity: 0.2;
    }
}

.userBet {
    @include bg-rgba-colored($color-black, 0.1);
    font-weight: bold;
}

.name {
    @include aligned(left);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 2;
}

.week,
.icon,
.position,
.points {
    flex: 1;
}

.season {
    flex: 2;
}
.position {
    @include aligned(left);
}

.smallFont {
    @include font-sized(s);
}
