@import "styles/alignments.scss";
@import "styles/colors.scss";
@import "styles/font-sizes.scss";
@import "styles/margins.scss";
@import "styles/paddings.scss";
@import "styles/variables.scss";

.container {
    @include flex-aligned(flex-start, center);
    @include font-sized(l);

    flex: 1;
    height: $matchContainerHeight;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &Mobile {
        @extend .container;
        width: 100%;
    }
}

.nameContainer {
    @include flex-aligned(center, center);
    flex: 2;
}

.name {
    @include flex-aligned(center, flex-end);
    @include padded(right, xs);

    flex: 1;
    flex-direction: column;
    font-weight: bold;
    height: $matchContainerHeight;
    min-width: 60px;

    &Expanded {
        @include font-sized(m2);
    }

    &NoOdds {
        @include padded(right, m);
    }
}

.standings {
    @include font-sized(s);
    @include padded(all, none);
    @include marged(all, none);
}

.score {
    @include flex-aligned(center, center);
    @include bg-rgba-colored($color-black, 0.2);

    flex: 0;
    height: $matchContainerHeight;
    min-width: 60px;
    transition: 2s;

    &Highlight {
        animation: scorepulse 10s ease-out infinite;
    }
}

.odds {
    @include flex-aligned(center, center);
    @include font-sized(m);

    flex: 0;
    height: $matchContainerHeight;
    min-width: 60px;
}

.logoContainer {
    flex: 1;

    .logo {
        filter: drop-shadow(0px 0px 10px #222);
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        height: 120px;
        width: auto;
    }
}

.logoHighlight {
    animation: logomovement 10s infinite;
}

@keyframes logomovement {
    20% {
        transform: translateX(-5%) translateY(-50%);
    }
}

@keyframes scorepulse {
    5% {
        text-shadow: 0px 0px 5px white;
    }
    40% {
        text-shadow: 0px 0px 5px black;
    }
    90% {
        text-shadow: 0px 0px 5px white;
    }
}
